
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: -.25rem;
}

.pagination-title {
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  font-size: 1em;
}

a, button {
  cursor: pointer;
 }